#boxed{
width:700px;
padding-left:4%;
padding-right:4%;
padding-top: 2%;
border:2px solid #181818;
border-top: 14px solid #181818;
border-bottom: 8px solid #181818;
margin-left:auto;
margin-right:auto;
background: white;
}
h1{
font-size: 300%;
}
h2{
font-size: 125%;
text-decoration: underline;
}
body {
font-family: Georgia, serif;
color: #181818;
}
p {
font-style: italic;
margin-right: 200px;
}
